<!doctype html>
<html lang="zh">

<head>
    <script src="../../static/js/js/example1.js"></script>
    <script src="../../static/js/js/photo-sphere-viewer.min.js"></script>
    <script src="../../static/js/js/three.min.js"></script>
    <link rel="stylesheet" href="../../static/css/login.css">
</head>

<body>
    <div class="htmleaf-container">
        <form method="get" action="example1.html">
            <p style="text-align: center;">
                <input type="file" name="pano" id="pano">
            </p>
        </form>
        <div id="content">
            <p style="text-align: center;">
                <a href="#" id="go"></a>
            </p>
            <div id="your-pano"></div>
        </div>

    </div>
    <!-- <iframe src="./qqqqq.html" frameborder="0"></iframe> -->
    <!-- <p>wo sda sd asd as </p> -->
</body>

</html>